<div class="row">
  <form class="col s12" action="/photos/<%= photo._id %>/comments" method="POST">
    <div id="add-comment-row" class="row">
      <div class="input-field col s12"> 
        <input id="text" type="text" name="comment[text]" placeholder="Add comment...">
      </div>
    </div>
  </form>
</div>