<% include ../partials/header %>
  
  <div id="photo-grid" class="container">
    <div class="row">
      <% photos.forEach(function(photo) { %>
        <% include ../partials/photo %>
      <% }); %>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href='/photos/new'>
      <i class="large material-icons">add</i>
    </a>
  </div>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <script>
    $('collapsible-header').css('display', '');
  </script>

<% include ../partials/footer %>